<div class="container" ng-controller="BookCtrl">
  <div class="row">
    <form class="form form-horizontal col-xs-12">
        <div class="form-group">
            <div class="col-xs-7">
                <span class="usericon">
                    <input class="form-control" id="name" placeholder="Username" />
                </span>
            </div>
        </div>
    </form>
  </div>
  <div id="search-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">

        <input type="text" class="form-control input-lg text-center" ng-model="simpleFilter" placeholder="Search..."/>
      </div>
  </div>
</div>
