<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
        <h4>Book Details</h4>
      </div>
      <div class="modal-body">

        <h4>Text in a modal</h4>
        <p ng-bind-html="content"></p>
        <h4>Book name: </h4><pre>{{selectedBook.name}}</pre></br>

        <h4>Author: </h4><pre>{{selectedBook.author}}</pre>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
