<div class="container" ng-controller="BookCtrl">
	<div class="jumbotron">
        <h1 align="center">Used Book Application</h1>
        <br>
        <div id="search-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">

							<input type="text" class="form-control input-lg text-center" ng-model="simpleFilter" placeholder="Search..."/>
            </div>
        </div>

    </div>
    <div id="book-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="book in books | filter:simpleFilter">
                <label>
                    <input type="checkbox" ng-click="removeBook(book)"> <a href="#book/getBookByName/{{book.value}}">{{ book.value }}</a>
										<a href="#book/getBookByName/{{book.name}}">{{ book.name + ' BookName ' + book.author}}</a>
                </label>
								<div id="book-info" class="row" ng-controller="ModalController">
									<div class="col-sm-8 col-sm-offset-2 text-center">
										<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" ng-click="showModal(book)">Show Details
												<br>
												<small>(using an object)</small>
										</button>
									</div>
								</div>
            </div>
        </div>
    </div>

<div class="row">
        <div class="form-inline">
            <form ng-submit="searchBook()" class="form-inline">
                <input type="text" class="form-control" placeholder="Enter the name of an actor or movie (or just the bits you remember)" style="width: 93%;" ng-model="searchText" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
    </div>

	<div id="book-form" class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">
		       Name: <input type="text" class="form-control input-lg text-center" ng-model="formData.name" placeholder="Enter title">
		       Author: <input type="text" class="form-control input-lg text-center" ng-model="formData.author" placeholder="Enter author">
		       <button type="submit" class="btn btn-primary btn-lg" ng-click="addBook()">Add Book</button>
				</div>
	  	</form>
		</div>
	</div>
	<div id="book-info" class="row">
		<button ng-click="toggleModal()" class="btn btn-default">Open modal</button>
	</div>

<div>
    <form role="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </modal>
</div>
</div>
