<div class="container" ng-controller="BookCtrl">
	<div class="jumbotron">
        <h1 align="center">Used Book Application</h1>
        <br>
        <div id="book-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Add Book!" ng-model="formData.value">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="addBook()">Add Book</button>
                    </div>
                </form>
				<input type="text" ng-model="nameFilter" placeholder="Search..."/>
            </div>
        </div>

    </div>
    <div id="book-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="book in books | filter:nameFilter">
                <label>
                    <input type="checkbox" ng-click="removeBook(book)"> <a href="#bookinfo/{{book.value}}">{{ book.value }}</a>

                </label>
            </div>
			<div class="info"><a href="#bookinfo/{{book.value}}">Click here</a>
        </div>
    </div>

<div class="row">
        <div class="form-inline">
            <form ng-submit="searchBook()" class="form-inline">
                <input type="text" class="form-control" placeholder="Enter the name of an actor or movie (or just the bits you remember)" style="width: 93%;" ng-model="searchText" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
    </div>

<div class="row">
<form name="myForm" ng-submit="addBook()">
             Name: <input type="text" ng-model="book.name">
             Author: <input type="text" ng-model="book.author">
             <input type="submit" value="Register">
         </form>
</div>
</div>
